* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    margin-left: 5px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;

}

#navbar h3 {
    font-size: 1.5rem;
    padding: 20px 10px;

}

:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}


.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 100px;
    position: fixed;
    height: var(--navbar-height);
    background-color: #fff;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    z-index: 200;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    text-decoration: none;
    color: #2d2e32;
    font-size: 1.17rem;
    position: relative;
    display: flex;
    align-items: center;

}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    align-items: center;
    font-size: 17px;
}


.navbar-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff4d30;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

.navbar-link:hover::after {
    width: 100%;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: #2d2e32;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style: none;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


/* section */

.hero-section {
    background-color: #f8f8f8;
    height: 97vh;
    position: relative;
    width: 100%;
}

.container {
    margin: 0 auto!important;
    max-width: 133rem!important;
    padding: 0 2.5rem!important;
}

.bg-shape {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.hero-content {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    width: 100%;
}

.hero-content__text {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    max-width: 40rem;
    z-index: 3;
}

.hero-content__text h4 {
    color: #010103;
    font-family: Rubik,sans-serif;
    font-size: 2.2rem;
}

.hero-content__text h1 {
    color: #010103;
    font-family: Poppins,sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2.3rem;
    margin-top: 1rem;
}

.hero-content__text h1 span {
    color: #ff4d30;
}

.hero-content__text p {
    color: #706f7b;
    font-family: Rubik,sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 4rem;
}

.hero-content__text__btns {
    display: flex;
    font-family: Rubik,sans-serif;
    font-size: 1.7rem;
    gap: 2rem;
}

.hero-content__text__btns a {
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 700;
    text-decoration: none;
}

.hero-content__text__btns a {
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 700;
    text-decoration: none;
}

.hero-content__car-img {
    margin-top: 3rem;
    position: absolute;
    right: 0;
    width: 65%;
    z-index: 2;
}
.hero-content__text__btns a {
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 700;
    text-decoration: none;
}
.hero-content__text__btns__book-ride {
    background-color: #ff4d30;
    border: 2px solid #ff4d30;
    border-radius: .3rem;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
    padding: 1.8rem 3rem;
    transition: all .3s;
}

.hero-content__text__btns__learn-more {
    background-color: #010103;
    border: 2px solid #010103;
    border-radius: .3rem;
    padding: 1.5rem 3rem;
    transition: all .3s;
}



/* SECTION */
.book-section {
    background: linear-gradient(180deg,#f8f8f8 20%,#fff 80%);
    position: relative;
}

.booking-modal, .modal-overlay {
    display: none;
    opacity: 0;
    position: fixed;
}

.book-content {
    margin: 0 auto 10rem;
}


.book-content__box {
    background-color: #fff;
    background-image: url(/static/media/book-bg.6f629a1….png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    color: #fff;
    color: #010103;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 4rem 4.5rem 5rem 5.5rem;
    position: relative;
    width: 100%;
    z-index: 4;
}

.book-content__box h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2.7rem;
}

.book-content__box .box-form {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.book-content__box .box-form__car-type {
    display: flex;
    flex-direction: column;
}

.book-content__box .box-form__car-type label {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}
.book-content__box .box-form__car-type select {
    border: 1px solid #ccd7e6;
    border-radius: 3px;
    color: #ababab;
    font-family: Rubik,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    outline: none;
    padding: 1.2rem 1.3rem;
}

.book-content__box button {
    align-self: self-end;
    background-color: #ff4d30;
    border: none;
    box-shadow: 0 10px 15px rgba(255,83,48,.35);
    color: #fff;
    cursor: pointer;
    font-family: Rubik,sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    padding: 1.3rem;
    transition: all .3s;
}

.book-content__box .box-form__car-time input {
    border: 1px solid #ccd7e6;
    color: #878585;
    outline: none;
    padding: 1.2rem 1.3rem;
}
.book-content__box .box-form__car-time {
    display: flex;
    flex-direction: column;
    position: relative;
}
.book-content__box .box-form__car-time label {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.plan-section {
    background-color: #fff;
    padding: 5.3rem 0;
}

.plan-container {
    display: flex;
    flex-direction: column;
}

.plan-container__title {
    color: #010103;
    margin: 0 auto;
    text-align: center;
}

.plan-container__title h3 {
    font-family: Rubik,sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
}

.plan-container__title h2 {
    font-family: Poppins,sans-serif;
    font-size: 4.2rem;
    margin: 1.3rem 0 3rem;
}

.plan-container__boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 3.7rem;
    padding: 0 3rem;
}

.plan-container__boxes__box {
    padding: 1rem 6rem;
    text-align: center;
}

.plan-container__boxes__box img {
    height: auto;
    width: 17rem;
}

.plan-container__boxes__box h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.plan-container__boxes__box p {
    color: #706f7b;
    font-family: Rubik,sans-serif;
    font-size: 1.6rem;
    line-height: 1.43;
}

.pick-section {
    padding: 10rem 0;
}

.pick-container {
    display: flex;
    flex-direction: column;
}

.pick-container__title {
    color: #010103;
    margin: 0 auto 5rem;
    max-width: 50rem;
    text-align: center;
}
.pick-container__title h3 {
    font-family: Rubik,sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
}

.pick-container__title h2 {
    font-family: Poppins,sans-serif;
    font-size: 4.2rem;
    margin: .5rem 0 1rem;
}

.pick-container__title p {
    color: #706f7b;
    font-family: Rubik,sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.pick-container__car-content {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.pick-box {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.pick-box button {
    background-color: #e9e9e9;
    border: none;
    cursor: pointer;
    font-family: Poppins,sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 2.5rem;
    text-align: left;
    transition: all .2s;
}

.colored-button {
    background-color: #ff4d30!important;
    color: #fff;
}
.box-cars {
    display: flex;
    gap: 11rem;
    justify-content: space-between;
}
.pick-car {
    position: relative;
    width: 50rem;
}

.pick-car img {
    margin-top: 6rem;
    width: 100%;
}

.pick-description {
    width: 25rem;
}

.pick-description__price {
    align-items: center;
    background-color: #ff4d30;
    color: #fff;
    display: flex;
    font-size: 1.8rem;
    gap: 1.5rem;
    padding: .3rem 1.9rem;
    white-space: nowrap;
    width: 100%;
}

.pick-description__table {
    display: grid;
    font-size: 1.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.pick-description__table__col, .pick-description__table__col span:first-child {
    border-right: 2px solid #706f7b;
}

.pick-description__table__col {
    border-bottom: 2px solid #706f7b;
    border-left: 2px solid #706f7b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: .9rem .5rem;
    text-align: center;
}

.pick-description__table__col, .pick-description__table__col span:first-child {
    border-right: 2px solid #706f7b;
}
.pick-description__price {
    align-items: center;
    background-color: #ff4d30;
    color: #fff;
    display: flex;
    font-size: 1.8rem;
    gap: 1.5rem;
    padding: .3rem 1.9rem;
    white-space: nowrap;
    width: 100%;
}

.cta-btn {
    background-color: #ff4d30;
    box-shadow: 6px 6px 0 #efe9e9;
    color: #fff;
    display: flex;
    font-family: Poppins,sans-serif;
    font-size: 2rem;
    font-weight: 600;
    justify-content: center;
    margin-top: 1.4rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
    width: 100%;
}

.banner-section {
    background-color: #2d2d2d;
    display: flex;
    height: auto;
    margin: 8rem 0;
    padding: 6rem 0;
    text-align: center;
    width: 100%;
    
}

.banner-content {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.banner-content__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.banner-content__text h2 {
    font-size: 5.2rem;
    line-height: 1.3;
}
.banner-content__text p {
    font-size: 2.4rem;
}

.banner-content__text span {
    color: #ff4d30;
    font-weight: 500;
    
}

.choose-section {
    background-color: #fff;
    background-image: url(/static/media/bg.82b3bf0….png);
    background-position: -225px 255px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0 10rem;
}

.choose-container {
    display: flex;
    flex-direction: column;
}

.choose-container__img {
    height: auto;
    margin: 0 auto;
    width: 90%;
}

.text-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
}
.text-container__left {
    color: #010103;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    text-align: left;
}

.text-container__left h4 {
    font-family: Rubik,sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: .7rem;
}

.text-container__left h2 {
    font-size: 4.2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.text-container__left p {
    color: #706f7b;
    font-family: Rubik,sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 3.3rem;
}

.text-container__left a {
    background-color: #ff4d30;
    border: 2px solid #ff4d30;
    border-radius: .3rem;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
    color: #fff;
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem 2.5rem;
    text-decoration: none;
    transition: all .3s;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.text-container__right {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    max-width: 44rem;
}

.text-container__right__box {
    display: flex;
}


.testimonials-section {
    background-color: #f8f8f8;
    color: #010103;
    padding: 10rem 0;
}

.testimonials-content, .testimonials-content__title {
    display: flex;
    flex-direction: column;
}

.testimonials-content__title {
    margin: 0 auto 5rem;
    max-width: 70rem;
    text-align: center;
}

.testimonials-content__title h4 {
    font-family: Rubik,sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
}

.testimonials-content__title h2 {
    font-size: 4.2rem;
    margin-bottom: 1.4rem;
}

.testimonials-content__title p {
    color: #706f7b;
    font-family: Rubik,sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
}

.all-testimonials {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 3rem;
    width: 100%;
}
.all-testimonials__box {
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
    padding: 5.5rem;
    position: relative;
    width: 54rem;
}

.quotes-icon {
    bottom: 33px;
    color: #ff4d30;
    font-size: 6.2rem;
    position: absolute;
    right: 60px;
}
.all-testimonials__box p {
    font-size: 2.2rem;
    font-weight: 500;
}
.all-testimonials__box__name {
    display: flex;
}

.all-testimonials__box__name__profile {
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}
.all-testimonials__box__name__profile img {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

.download-section {
    background-color: #f8f8f8;
    background-image: url(/img/bg02.3efbc4567749d0a5671e.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 10rem 0;
    width: 100%;
}
.download-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 55rem;
    text-align: left;
}

.download-text h2 {
    color: #010103;
    font-size: 4.2rem;
}

.download-text p {
    color: #706f7b;
    font-family: Rubik,sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.download-text__btns {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

.download-text__btns img {
    cursor: pointer;
    width: 40%;
}

footer {
    background-color: #fff;
    padding: 10rem 0;
}

.footer-content {
    grid-gap: 8rem;
    color: #010103;
    display: grid;
    gap: 8rem;
    grid-template-columns: 27fr 21fr 21fr 21fr;
    justify-content: center;
    text-align: left;
}

.footer-content__1 {
    list-style: none;
}
.footer-content__2 {
    list-style: none;
}
.footer-content__1 li:first-child {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}
.footer-content__1 li:first-child span {
    font-weight: 700;
}

.footer-content__2 li:first-child {
    cursor: auto;
    font-family: Poppins,sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-content__2 li {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.submit-email {
    background-color: #ff4d30;
    border: 2px solid #ff4d30;
    border-radius: .3rem;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.25);
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem 2.5rem;
    text-decoration: none;
    transition: all .3s;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    width: 100%;
}

.footer-content__2 a {
    color: #010103;
    text-decoration: none;
    transition: all .2s;
}

.footer-content__1 li a {
    color: #010103;
    text-decoration: none;
    transition: all .2s;
}
.footer-content__2 input {
    background-color: #ececec;
    border-color: transparent;
    border-width: 1px;
    font-family: Rubik,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1rem;
    outline: none;
    padding: 10px 60px;
}

.box-form__car-time input {
    border: 1px solid #ccd7e6;
    color: #878585;
    outline: none;
    padding-right: 3rem;
}

.hero-pages {
    background-image: url(/static/media/heroes-bg.71ab9a1….png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41rem;
    position: relative;
    width: 100%;
}

.hero-pages {
    background-image: url(/static/media/heroes-bg.71ab9a1….png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41rem;
    position: relative;
    width: 100%;
}
.hero-pages__text {
    color: #010103;
    display: flex;
    flex-direction: column;
    height: 41rem;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 3;
}

.hero-pages__text p a {
    color: #010103;
    text-decoration: none;
    transition: all .2s;
}

.hero-pages__text h3 {
    font-size: 3.6rem;
    margin-bottom: .5rem;
}

.hero-pages__text p {
    font-size: 1.6rem;
    font-weight: 600;
}

.hero-pages__overlay {
    background-color: hsla(0,0%,100%,.92);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
/* .team-container {
    grid-gap: 4rem;
    align-items: center;
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 10rem 2rem;
    text-align: center;
    width: 110rem;
}
.team-container__box {
    background-color: #fff;
    box-shadow: 0 20px 10px 0 rgba(0,0,0,.08);
    width: 33rem;
}
.team-container__box__img-div {
    background-color: #f6f6f6;
    height: auto;
    width: 100%;
}
.team-container__box__img-div img {
    width: 100%;
    height: auto;
}
.team-container__box__descr {
    color: #010103;
    padding: 3rem;
}
.team-container__box__descr h3 {
    font-size: 2.2rem;
}
.team-container__box__descr p {
    color: #777;
    font-size: 1.6rem;
    font-weight: 500;
} */
.d-column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
 
  


.slider-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.slider-container img {
    width: 100%;
    height: auto;
}

.slider-slide {
    display: none;
}

.slider-slide.active {
    display: block;
}

.slider-content {
    padding: 20px;
}

.slider-content h2 {
    font-size: 24px;
    margin: 0;
}

.slider-content p {
    font-size: 16px;
    margin: 10px 0;
}

.slider-controls {
    text-align: center;
    margin-top: 10px;
}

.slider-controls button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}
@media screen and (min-width: 900px) {

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

}

@media only screen and (max-width:900px) {
    .hero {
        height: auto;
        padding: 0px 0px;
    }
    .hero .container{
        margin:0 auto 0 auto;

        padding:5px;
    }
    .content {

        flex-direction: column;
        
        height: auto;
        width: auto;
        text-align: center;
    }

    .hero-main {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-text p {
        margin-bottom: 5rem;
    }

    .hero-text span {
        gap: 1.6rem;
        justify-content: center;
        margin-bottom: 4rem;
       
    }

    .hero-img {
        border-radius: 15px;
    }

    .skills {
        flex-direction: column;
        position: static;
    }

    .skills p {
        border-bottom: 2px solid rgba(45, 46, 50, .5);
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }

    .skills ul {
        justify-content: center;
    }
}

@media (max-width: 1020px) {
    .about {
        margin-top: 1px;
        padding: 1rem 0;
        
    }

    .about-content {
        
        grid-template-columns: 1fr;
        text-align: center;
       
    }

    .img-side img {
        margin-bottom: 10px;
    }

    .text-side {
        margin: -100px 0px;
        max-width: 54rem;
    }
    .contact {
        padding: 2rem 0;
    }
    .tab-titles{
        
        justify-content: center;
    }
    .skill-experience-education{
        margin: 100px;
    }
    .tab-contents.active-tab {
        display: block;
        color: #147efb;
        justify-content: left;
        margin: 0px -100px;
    }
   
}

@media (max-width: 460px) {
    .container {
        padding: 0 1.7rem;
    }

    .skills {
        flex-direction: column;
        position: static;
    }

    .skills ul li img {
        height: 2rem;
        width: 2rem;
    }

    .img-side img {
        height: auto;
        width: 90%;
    }
    .skill-experience-education{
        margin: 100px;
    }
    


}
@media (max-width: 800px){
.team-container {
    grid-template-columns: 1fr;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}
}
@media (max-width: 1150px){
.team-container {
    grid-template-columns: 1fr 1fr;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}
}
@media(max-width:400px) {
    .text-side {
        padding-right: 0;
    }
    .skill-experience-education{
        margin: 100px;
        justify-content: center;
        padding: 0px 15px;
        
    }
    .tab-titles{
        
        justify-content: center;
        
    }
    .tab-links {
        
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        border: 3px solid #2d2e32;
        border-radius: 15%;
    }
    .tab-links p{
        color: #2d2e32;
        
    }
    .contact-title {
        margin-top: 0px;
        margin-left: 2px;
    }
    
}

#msg{
    color: #ff004f;
    margin-top: -40px;
    text-align: center;
    display: block;
}

@media screen and (max-width: 650px) {
    .d-column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .d-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .d-container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .d-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .d-title {
    color: grey;
  }